.trades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.type-trade {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.trade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 950px) {
    .type-trade {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
  }